.page1 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    background-color: lightgray;
}

.page2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    background-color: lightgray;
    display: none;
}

.page3 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    background-color: lightgray;
    display: none;
}

.pA {
    color: black;
    width: fit-content;
    font-family: 'Times New Roman', Times, serif;
}

.pA:hover {
    color: grey;
    font-family: 'Times New Roman', Times, serif;
}

.Automat2 {
    color: black;
    width: fit-content;
    font-family: 'Times New Roman', Times, serif;
}

.Automat1:hover {
    color: gray;
    font-family: 'Times New Roman', Times, serif;
}

.login {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: fit-content;
    font-family: 'Times New Roman', Times, serif;
}

.Automat2 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.Automat2:hover {
    color: gray;
    font-family: 'Times New Roman', Times, serif;
}